<!-- Herede -->
{% extends './template.html' %}
<!-- Cambiar Titulo -->
{% block title %}HearApp{% endblock %}
<!-- Logo Reutilizable -->
{% block logo %}
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.png') }}">
{% endblock %}
<!-- Fonts Reutilizable -->
{% block fonts %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
            rel="stylesheet">
    <link
            href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
            rel="stylesheet">
{% endblock %}
<!-- Css Reutilizable -->
{% block customCSS %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

<!-- Definir Bloque body -->
{% block body %}
    <div id="particles-js"></div>
    <nav class="navbar">
        <a class="navbar-brand title_navbar text-white" href="#">
            <img src="../../static/img/LOGO.png" width="150" alt=""> HEAR APP
        </a>
        <a href="{{ url_for('login') }}" class="btn-float">Iniciar Sesion</a>
    </nav>

    <main>
        <div class="home">
            <h2 id="titulo" class="title"></h2>
            <p id="texto_descripcion" class="description"></p>
            <div class="d-flex">
                <a href="{{ url_for('login') }}" id="boton-texto" class="btn-float btn-animation">
                    <span></span> <i class='bx bx-right-arrow-alt fs-4'></i>
                </a>
            </div>
        </div>
        <div class="personas">
            <img src="../../static/img/personas.webp" alt="">
        </div>

    </main>

{% endblock %}

<!-- Bloque Js -->
{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script>
        var titulo = "Comunicación Inclusiva: Voz y Señas en Tiempo Real";
        var descripcion = "Bienvenido a Head App, tu sistema inclusivo en la educación. Con Head App, podrás acceder a clases en vivo con tu profesor y visualizar el contenido en tiempo real a través de reconocimiento de voz o en lenguaje de señas. Únete a nosotros y transforma tu experiencia educativa.";
        var indexTitulo = 0;
        var indexDescripcion = 0;

        function mostrarLetraTitulo() {
            if (indexTitulo < titulo.length) {
                document.getElementById("titulo").innerHTML += titulo.charAt(indexTitulo);
                indexTitulo++;
                setTimeout(mostrarLetraTitulo, 50); // Velocidad de aparición (en milisegundos)
            }
        }

        function mostrarLetraDescripcion() {
            if (indexDescripcion < descripcion.length) {
                document.getElementById("texto_descripcion").innerHTML += descripcion.charAt(indexDescripcion);
                indexDescripcion++;
                setTimeout(mostrarLetraDescripcion, 30); // Velocidad de aparición (en milisegundos)
            }
        }

        function mostrarLetraBoton() {
            var botonTexto = "Empieza Ahora";
            var indexBoton = 0;
            var botonElemento = document.querySelector("#boton-texto>span");

            function agregarLetraBoton() {
                if (indexBoton < botonTexto.length) {
                    botonElemento.innerHTML += botonTexto.charAt(indexBoton);
                    indexBoton++;
                    setTimeout(agregarLetraBoton, 50); // Velocidad de aparición (en milisegundos)
                }
            }

            agregarLetraBoton();
        }

        // Llama a las funciones después de que el DOM esté completamente cargado
        document.addEventListener("DOMContentLoaded", function () {
            mostrarLetraTitulo();
            setTimeout(mostrarLetraDescripcion, 1500); // Retraso para comenzar la descripción después del título
            setTimeout(mostrarLetraBoton, 3000); // Retraso para comenzar el botón después de la descripción
        });
    </script>

    <script src="../../static/js/particles.js"></script>
{% endblock %}
