body {
    background: #000;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100vw;
        min-height: 100vh;
        background-image: url(../img/fondo.png);
        background-size: cover;
        opacity: 0.6;
        z-index: -10;
    }

}

.panel {
    padding: 2rem;
    border-radius: 10px;
    min-width: 400px;
    width: 90vw;
    max-width: 700px;
    background-color: white;

    .title {
        font-weight: bold;
        margin-bottom: 3rem;
        text-align: center;
    }

    .sub-title {
        font-weight: bold;
        margin-bottom: 1.5rem;
        text-align: center;
    }

    form {
        .btn_login {
            background: #E2001B;
            color: #fff;
            width: 100%;
            padding-block: .75rem;
        }
    }
}